3rdparty/download/*
3rdparty/build_*
3rdparty/lighttpd/
3rdparty/php/
3rdparty/postgresql/
3rdparty/r_packages/
db/*
config.txt
singularity/*.simg

webui/www/css/bootstrap-theme.css
webui/www/css/bootstrap.css
webui/www/css/bootstrap.min.css
webui/www/css/bootstrap.min.css.map
webui/www/css/tabulator.min.css
webui/www/js/bootstrap.min.js
webui/www/js/fontawesome.min.js
webui/www/js/jquery.min.js
webui/www/js/popper.min.js
webui/www/js/solid.min.js
webui/www/js/showdown.min.js
webui/www/js/tabulator.min.js
webui/www/js/xlsx.full.min.js
webui/www/static_info.json
webui/www/js/pdfkit.standalone.js
webui/www/js/blob-stream.js

.Rhistory
.Rproj.user$
NOAS.Rproj
.Rproj.user
**.DS_Store
