3rdparty/download/*
3rdparty/build_*
3rdparty/lighttpd/
3rdparty/php/
3rdparty/postgresql/
3rdparty/r_packages/
db/*
config.txt
singularity/*.simg

webui/www/css/bootstrap*
webui/www/css/tabulator**
webui/www/js/bootstrap**
webui/www/js/fontawesome*
webui/www/js/jquery*
webui/www/js/popper*
webui/www/js/solid*
webui/www/js/showdown*
webui/www/js/tabulator*
webui/www/js/xlsx.full.min.js
webui/www/static_info.json
webui/www/js/pdfkit.standalone.js
webui/www/js/blob-stream.js
webui/www/js/d3.v6.min.js
webui/www/js/fuse-6.4.6.js

.Rhistory
.Rproj.user$
NOAS.Rproj
.Rproj.user
**.DS_Store
