:root {
  --colnorm0: #FFFFFF;
  --colnorm1: #9162A1;
  --colnorm2: #2b80b4;
  --colnorm3: #1F7FC3;
  --colnorm4: rgb(60, 206, 255);
  --colnorm5: #E1207D;
  --colnorm6: #000000;
  --colbackground0:#fff;
  --colbackground2:rgb(236, 240, 224);
  --colbackground3:#ddd;
  --colbackground4:rgb(206, 224, 151);
  --colborder1:#2b80b4;
  --coltext:#444;
}

/*----------------------------------------------------------------------------*/

html {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background: var(--colbackground0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--coltext);
  padding-right: 0 !important; /* fix for bootstrap modal */
}

/*----------------------------------------------------------------------------*/

.navbar {
  background: var(--colnorm2);
  margin-bottom: 40px !important;
  border-radius: 0px  !important;
}

/*----------------------------------------------------------------------------*/

.button {
  border: 2px solid var(--colborder1);
  border-radius: 8px;
  margin: 4px;
  box-shadow: 2px 2px 4px 4px #AAA;
  font-weight: bold;
  font-size: 105%;
  background: var(--colnorm2);
  padding: 4px;
  color: var(--colnorm0);
  /* margin-left: 10px; */
  display: inline-block;
  text-decoration: none;
  min-width: 55px;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  color: var(--colnorm4);
}

.button:active {
  box-shadow: 1px 1px 1px 1px #AAA;
  transform: translateY(2px);
}

.button-minwidth {
  min-width: 130px; 
}

/*----------------------------------------------------------------------------*/

/* font awesome */

.fac-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.fac-warning {
  color: var(--colnorm5);
}

/*----------------------------------------------------------------------------*/

/* bootstrap */

.table {
  width: auto !important;
}

.text-sm-right th { /* fix for reports header */
  text-align: right;
}

.modal {
  color: black;
}

.btn-primary:hover {
  cursor: pointer;
  color: var(--colnorm4) !important;
}

.bluehover:hover{
  cursor: pointer;
  color: var(--colnorm4);
}

/*----------------------------------------------------------------------------*/
