#nss {
  display: flex;
  width: calc(100% - 4px);
  align-items: stretch;
  flex-direction: row;
  height: calc(100vh - 370px);
  margin-left: 4px;
  margin-right: 4px;
}

#nss .nsscol {
  flex: 25%;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-direction: column;
  align-items: stretch;
  display: flex;
  border: 2px solid var(--colborder1);
  border-radius: 8px;
  box-shadow: 2px 2px 4px 4px #AAA;
  margin: 2px;
  padding: 8px;
}

#nss .nsscolinner {
  overflow-y: scroll;
  flex: 100%;
}


#nss .nsscol .nsscolheader {
  flex: 50px;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#nss .nsscol div.nsscolheader {
  font-size: large;
}


#nss .resrow {
  display: flex;
  flex-direction: row;
  padding: 4px;
}
#nss .resrow:nth-child(even) {
  background-color: #eee;
}

#nss .resrow:hover, #nss .resrow.emph:hover {
  display: flex;
  background-color: var(--colnorm2);
  color: white;
  cursor: pointer;
}

#nss .resrow.emph {
  display: flex;
  background-color: var(--colbackground4);
  cursor: pointer;
  font-weight: bold;
}

#nss .resrow.nssdisabled {
  color: gray;
  cursor: default;
}

#nss .resrowcenter {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  flex: 100%;
}

#nss .resrowright {
  margin-left: 4px;
  flex: 20px;
  text-align: center;
}

#nss #nssColumns {
  margin-top: 10px;
  height: 100%;
  overflow-y: scroll;
}